body{
    background-color:  #002B36;
  }
header{
    background-color: #073642;
}

footer{
    background-color: #073642 ;
}
.f-color{
    color:#839496
}

main{
    background-color: #002B36 ;
}
.m-color{
    color:#839496
}

a{
    color:#D33682;
}
a:hover{
    color: #CB4B16;
}
h1{
    text-align: center; 
    font-size: 150% ;
    color: #B58900;
    padding: 50px;
}

ul.a{
    list-style-type: none;
    text-align: center;
}
aside{
    color:#859900;

}




li.d{
    color: #DC322F;
    
}
li.d:hover{
    background-color:#268BD2 ;
}


li.e{
    color: #DC322F;
    
}
li.e:hover{
    background-color:#268BD2 ;
}

li.f{
    color: #DC322F;
    
}
li.f:hover{
    background-color:#268BD2 ;
}

li.g{
    color: #DC322F;
    
}
li.g:hover{
    background-color:#268BD2 ;
}

li.h{
    color: #DC322F;
    
}
li.h:hover{
    background-color:#268BD2 ;
}

body,html{
    max-width: 800px;
}
h2{
    padding: 50px;
}
h3{
    padding: 50px;
}