body{
    background-color:  #002B36;
  }
header{
    background-color: #073642;
}

footer{
    background-color: #073642 ;
}
.f-color{
    color:#839496
}

main{
    background-color: #002B36 ;
}
.m-color{
    color:#839496
}

a{
    color:#D33682;
}
a:hover{
    color: #CB4B16;
}
h1{
    text-align: center; 
    font-size: 150% ;
    color: #B58900;
    
}

ul.a{
    list-style-type: none;
}
aside{
    color:#859900;

}



div.0{
    border-style: solid;
    border-width: 3px;
    border-color: #2AA198;
}
div{
    border-style: solid;
    border-width: 3px;
    border-color: #2AA198;
    
}

nav {
    list-style-type: none;
}


body{
    max-width: 800px;
}